        tr {
            font-family: 'Serto Urhoy';
            font-weight: Regular;
            font-size: 35px;
            text-align: center;
            
        }      
         th {
             font-family: 'Marhey';
             font-size: 16px;
             text-align: center;
             background:#FFED86;
         }  
         
